/* Add font base
@font-face {
    font-family: Inter, sans-serif;
    src: url(../font/Inter-Regular.ttf);
}
@font-face {
    font-family: "InterBold", sans-serif;
    src: url(../font/Inter-Bold.ttf);
}
*/
/* Add font Import */
@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
.main{
    margin: 150px;
}
.main__heading {
    font-size: 128px;
    font-weight: bold;
    padding-bottom: 0;
}
.main__Sub--heading{
    font-size: 40px;
    font-weight: 400;
}
.btn-container {
    display: flex;
    gap: 20px;
    margin-top: 100px;
}
.btn-img {
    vertical-align:middle;
}

/* Responsive style 1220 */
@media (max-width : 1220px){
    .main__heading{
        font-size: 70px;
    }
    .button{
        font-size: 24px;
        padding: 0 32px;
        height: 70px;
    }
    .btn-img{
        width: 20px;
    }
}
/* Responsive style 815 */
@media (width < 880px){
    .main{
        margin: 75px;
    } 
}

@media (width < 700px){
    .button{
        font-size: 16px;
        margin-top: 24px;
    }
    .btn-container{
        margin-top: 32px;
        flex-wrap: wrap;
    }
}

/* Responsive style 590 */


@media (width < 590px){
    .main{
        padding: 0px;
    }
    .main__heading{
        font-size: 40px ;
    }
    .main__Sub--heading{
        font-size: 24px;
    }
    
}